.btn.btn-secondary.submitBtn { display:inline-block; }
.button-container.kakao { display:inline-block; }

.login-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; /* 버튼들을 세로 방향으로 중앙에 위치시킵니다 */
  width: 100%;
}
.login-buttons.float-end {
    display: flex;
    float: none;
    width: 100%;
}
.login-buttons.submitBtn {
    width: 100%;
}
.img-button a {
  display: block; /* 또는 'inline-block' */
  width: 30%; /* 여기서는 각 버튼이 전체 너비의 30%를 차지하도록 설정했습니다. */
  margin: 0.5%; /* 버튼 사이의 간격을 위해 마진을 추가합니다. */
}
.img-button {
  width: 100%; /* 부모 요소의 너비에 맞춰 자동으로 크기 조절 */
  height: auto; /* 비율을 유지하기 위해 높이는 'auto'로 설정 */
}
.naver-button {
  max-width: 180px; /* 원하는 최대 너비 설정 */
  max-height: 40px; /* 원하는 최대 높이 설정 */
  width: auto; /* 비율을 유지하기 위해 너비는 자동으로 설정 */
  height: auto; /* 비율을 유지하기 위해 높이는 자동으로 설정 */
}

