/*소셜로그인 가운데정렬*/
.login-buttons.sns { positon:relative; z-index:1; padding-top:30px; text-align:center; margin:0 auto; border-top:1px solid #ddd; }
/*소셜로그인 이미지 사이즈*/
.login-buttons.sns a img.img-button.kakao { width:100%; max-width:45px; }
.login-buttons.sns a img.img-button.naver { width:100%; max-width:40px; }
/*소셜로그인 이미지 간격*/
.login-buttons.sns a img { margin:0 5px; }
/*로그인폼버튼 정렬*/
.float-end.submitWrap { float:none !important; }
/*로그인폼버튼 넓이*/
.btn.btn-secondary.submitBtn { margin:0 auto; width:80%; display:block; }
.login-buttons.my-4 { margin-bottom:2.6rem !important; }
/*로그인체크박스조정*/
.form-check-input { margin-right:5px; }
/*소셜로그인 텍스트*/
.snsTxt { position:absolute; z-index:2; margin-top:-18px; left:50%; margin-left:-45px; font-size:15px; line-height:1.2; color:#555; display:inline-block; background:#fff; padding:10px; }
