<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common.html}">

<head>
    <title>관리자</title>
</head>

<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr class="text-center">
                <th>번호</th>
                <th>아이디</th>
                <th>이메일</th>
                <th>role</th>
                <th>소셜</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" th:each="user : ${userList}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.role}"></td>
                <td><span th:text="${user.isSocial} ? 'sns' : '일반'"></span></td>
            </tr>
        </tbody>
    </table>
</div>

</html>