<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common.html}">

<head>
    <title>정보수정</title>
    <!--user_page.css-->
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css" href="/css/user_page.css">
    </th:block>
</head>
<!-- 로딩화면 -->
<div layout:fragment="content">
<div class="container_wrap">
    <div class="content">
        <span class="title">회원정보</span>
        <div class="card-body">
            <form th:action="@{|/user/${userRequestDTO.id}|}" th:object="${userRequestDTO}" method="post" enctype="multipart/form-data">
                <div class="profile_wrap">
                    <ul>
                        <li><span>프로필 이미지</span></li>
                        <th:block th:if="*{picture} == null">
                            <li><img src='./image/icon-profile.png' alt='프로필이미지'></li>
                        </th:block>
                        <th:block th:if="*{picture} != null">
                            <li>
                                <div><img th:src="*{picture}">
                                    <input type="hidden" class="form-control" name="picture" readonly></div>
                            </li>
                        </th:block>
                        <li class="img_select_btn">
                            <input type="file" class="form-control" name="uploadFile" accept="image/*" multiple="multiple" >
<!--                            <button>파일선택</button>-->
                            <span class="ex_t">
                        JPG, GIF, PNG<br>
                        권장 사이즈 128px, 최대 250KB
                    </span>
                        </li>
                    </ul>
                </div>
                <div class="id_wrap">
                    <ul>
                        <li><span>아이디</span></li>
                        <li>
                            <div><input type="text" class="input_box" th:value="*{username}" readonly></div>
                        </li>
                    </ul>
                </div>
                <div class="pw_wrap">
                    <ul>
                        <li><span>비밀번호</span></li>
                        <li>
                            <div><input type="password" class="input_box" name="password" th:value="*{password}"></div>
                        </li>
                    </ul>
                </div>
                <div class="email_wrap">
                    <ul>
                        <li><span>이메일</span></li>
                        <li>
                            <div><input type="email" class="input_box" name="email" th:value="*{email}" readonly></div>
                        </li>
                    </ul>
                </div>

                <div class="button_wrap">
                    <button type="reset">취소</button>
                    <button type="submit">정보수정</button>
                </div>
            </form>
        </div>
    </div>


</div>
</div>
</body>
</html>






	
